.logo-container {
  margin: 0 auto;
  font-weight: 700;
  background-color: #fff;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    font-size: 8rem;
    color: #21c0af;
    position: fixed;
    margin-bottom: 60px;
    animation-name: meteorfall;
    animation-duration: 4s;
  }

  h2 {
    margin-bottom: -90px;
    font-size: 1.9rem;
    color: #252525;
    margin-top: 15px;
    animation-name: appear;
    animation-duration: 4.7s;
  }
}

@keyframes meteorfall {
  0% {
    top: 5%;
    right: -10%;
  }

  80% {
    top: 90%;
    right: 110%;
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
